@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --light-blue-clr: rgb(52, 169, 184);
}
/*   Body   */
body {
  color: rgb(73, 73, 73);
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}
.offset::before {
  content: "";
  display: block;
  height: 4rem;
  margin-top: -4rem;
}

/*   Home Section   */
/*   Navigation    */
.navbar {
  font-weight: 500;
  background: #033044 !important;
}
.navbar-brand h2 {
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.navbar-nav li {
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  margin-right: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--light-blue-clr);
  font-weight: 700;
}
.brand {
  font-weight: 700;
  color: var(--light-blue-clr);
}

/*   Landing Page   */
.home-inner {
  background-image: url(/img/code-meeting.jpg);
  background-color: rgba(2, 32, 44, 0.952);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
}
.caption {
  color: #fff;
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 40%;
  z-index: 2;
}
.caption h1 {
  font-size: 3.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 1%;
  text-shadow: 0.1rem 0.1rem 0.8rem #000;
}
.caption h3 {
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.8rem #000;
  margin-bottom: 2%;
  text-transform: uppercase;
}
.caption a.btn {
  border-width: medium;
  border-radius: 0;
  border-color: var(--light-blue-clr);
  text-transform: uppercase;
}
.caption a.btn:hover {
  background: transparent;
  color: #fff;
  font-weight: 700;
  transform: scale(1.1);
}

/*   Features Section   */
.narrow {
  width: 80%;
  margin: 1.5rem auto;
  padding-top: 1rem;
}
.jumbotron {
  border-radius: 0;
  margin-bottom: 0;
}
h3.features-heading {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.features-underline {
  width: 3.5rem;
  height: 0.2rem;
  background-color: var(--light-blue-clr);
  margin: 0 auto 2rem;
}
.feature svg.svg-inline--fa {
  color: var(--light-blue-clr);
}
.feature h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}
.feature p {
  font-size: 1.1rem;
}

/*   Resources Section  */
.fixed {
  background: url(/img/apple.png);
  z-index: -1;
}
.dark {
  background: rgba(2, 32, 44, 0.836);
  color: #fff;
  padding: 6rem 2rem;
}
.fixed-background h3 {
  margin-bottom: 1.8rem;
}
.fixed-background p {
  margin-top: 1.3rem;
}

/*   Testimonials Section   */
.testimonial img {
  width: 13vmax;
  height: 13vmax;
  border-radius: 50%;
}
blockquote svg.svg-inline--fa {
  color: var(--light-blue-clr);
  margin: 0 1rem 1rem 0;
}
.testimonial-hr {
  border-top: 0.05rem solid var(--light-blue-clr);
}
.narrow.sign-up {
  padding: 6rem 2rem;
}
.sign-up p {
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.sign-up a.btn-secondary {
  font-size: 1.1rem;
  border-radius: 0;
  border-width: medium;
  border-color: var(--light-blue-clr);
  color: #fff;
  background: var(--light-blue-clr);
  padding: 0.5rem 2rem;
}

/*   Contact Section  */
footer {
  background: #02212e;
  color: #fff;
  padding: 2rem 1.5rem;
}
footer a {
  color: #fff;
}
footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem 0.7rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color: var(--light-blue-clr) !important;
}
p.contact {
  font-size: 1.2rem;
  margin: 1.2rem 0 0;
}
.copy {
  color: rgba(255, 255, 255, 0.61);
  width: 100%;
  text-align: center;
}

/* Media Queries */
@media (max-width: 767px) {
  h2.brand {
    font-size: 1.25rem;
  }
  .caption {
    padding: 0 1rem;
  }
  .caption h1 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .caption a.btn {
    font-size: 1.2rem;
  }

  .feature h3 {
    font-size: 1.6rem;
  }
  .feature p {
    font-size: 1rem;
  }

  .testimonial img {
    width: 8rem;
    height: 8rem;
    display: block;
    margin: 0 auto;
  }

  blockquote {
    text-align: center;
  }
}
